# **Ministry Team Retention Analysis**

In [1]:
import pandas as pd   
import numpy as np
import os

data_dir = '/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/life things/data science/data'
os.chdir(data_dir)

df_21_MT = pd.read_excel('21-22 Ministry Team Roster from JotForm.xlsx')
df_21_Org = pd.read_excel('21-22 Org Roster from JotForm.xlsx')
df_23 = pd.read_excel('23-24 Roster from JotForm.xlsx')
df_24 = pd.read_excel('ME Student Info 24-25.xlsx', sheet_name='ME Student Info 24-25')

### Cleaning 2021 Ministry Teams

In [2]:
df_21_MT.columns

Index(['First Name', 'Middle Name', 'Last Name', 'Wheaton Student Email',
       'Birthdate', 'Submission Date',
       'Do you agree to embody and pursue the qualities listed above?',
       'We welcome you to explain why you disagree.',
       'I agree to the aforementioned as they relate to Student Engagement expectations and requirements and to the Wheaton College Community Covenant.',
       'We welcome you to explain why you disagree..1',
       'I agree to attend the meetings/events above.',
       'Please explain which meetings/events you are unable to attend and why.',
       'I am a...', 'What is your position on the cabinet?', 'Race/Ethnicity',
       'I am a....1',
       'Are you planning to arrive early to campus for another student leadership role?',
       'What ministry are you a part of?',
       'What other student leadership role do you have?',
       'I plan to arrive to campus on August 18th for training',
       'Please explain why you are unable to arrive on August 18th and when you plan to arrive to campus.',
       'Please explain why you are unsure if you can arrive on August 18th. When do you plan to know if you can arrive on August 18th and stay on campus for training?',
       'Student ID Number', 'CPO Number', 'Phone Number', 'Sex',
       'Where are you living Fall 2022?', 'Room Number',
       'Apartment Building Number', 'Apartment Number',
       'House Name and/or Address', 'Address', 'Graduation Year',
       'Street Address', 'Street Address Line 2', 'City', 'State / Province',
       'Postal / Zip Code', 'Country', 'T-shirt size',
       'Are you certified to drive Wheaton vehicles?',
       'Please Upload your Headshot',
       'Please list any food allergies or dietary restrictions',
       'Favorite Snack/Treat',
       'Would you be interested in helping to lead worship for Ministry & Evangelism worship times during Student Leadership Training?',
       'What instrument(s) do you play? (voice, guitar, drums, etc.)',
       'What are you up to this summer?', 'How can we be praying for you?',
       'Have you taken the StrengthsFinder assessment while a student at Wheaton?',
       'Multiple Text Fields', 'Wheaton ID Number',
       'Wheaton Network User Name'],
      dtype='object')

In [3]:
columns = ['First Name', 'Last Name', 'What ministry are you a part of?', 'What is your position on the cabinet?','What other student leadership role do you have?']
df_21_MT = df_21_MT[columns]
df_21_MT.isna().sum()

First Name                                          0
Last Name                                           0
What ministry are you a part of?                    0
What is your position on the cabinet?              21
What other student leadership role do you have?    65
dtype: int64

In [4]:
df_21_MT.columns = ['First', 'Last', 'Ministry Team', 'Role', 'Other Leadership Roles']

In [5]:
df_21_MT['Other Leadership Roles'].fillna('None', inplace=True)
df_21_MT['Role'].fillna('Cabinet Member', inplace=True)
df_21_MT.isna().sum()

/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/4117534007.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_21_MT['Other Leadership Roles'].fillna('None', inplace=True)
/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/4117534007.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_21_MT['Role'].fillna('Cabinet Member', inplace=True)

First                     0
Last                      0
Ministry Team             0
Role                      0
Other Leadership Roles    0
dtype: int64

In [6]:
df_21_MT

,First,Last,Ministry Team,Role,Other Leadership Roles
0,Ada,McKinney,VINE,Cabinet Member,None
1,Christine,Yi,Zoe's Feet,Outreach Coordinator,None
2,Eleanore,Philbrick,Voice for Life,Vice President,None
3,Leanna,Seto,Zoe's Feet,Confessions Coordinator,None
4,Luke,Anderson,VINE,Cabinet Member,None
...,...,...,...,...,...
70,Sophia,Parolini,Abide,Cabinet Member,I will be an O group leader as well.
71,Meredith,Frey,Abide,Cabinet Member,None
72,Jenna,Paulsen,Tutoring Ministry,Cabinet Member,None
73,Matthew,Meloch,YoungLife,Student Staff,None
74,Jonathan,Kim,Pre-Health Ministry Team,Bolingbrook Site Coordinator,None

### Cleaning 2021 Orgs

In [7]:
df_21_Org.columns

Index(['First Name', 'Last Name', 'Submission Date',
       'I plan to arrive on August 11th for Student Leader Training Week',
       'Wheaton Student Email', 'CPO Number', 'Graduation Year',
       'Street Address', 'Street Address Line 2', 'City', 'State / Province',
       'Postal / Zip Code', 'Country', 'T-shirt size', 'Student ID Number',
       'Please list any food allergies or dietary restrictions',
       'Apartment Number', 'Gender',
       'I agree to the aforementioned as they relate to Student Engagement expectations and requirements and to the Wheaton College Community Covenant.',
       'Multiple Text Fields',
       'Please explain why you are unsure if you can arrive on August 11th. When do you plan to know if you can arrive on August 11th and stay on campus for training?',
       'Please explain why you are unable to arrive on August 11th and when you plan to arrive to campus.',
       'We welcome you to explain why you disagree.',
       'Please explain which meetings/events you are unable to attend and why.',
       'We welcome you to explain why you disagree..1',
       'I agree to attend the meetings/events above',
       'Do you agree to embody and pursue the qualities listed above?',
       'What is one takeaway you have after reading these qualities?',
       'Favorite Snack/Treat',
       'What instrument(s) do you play? (voice, guitar, drums, etc.)',
       'Are you certified to drive Wheaton vehicles?',
       'Would you be interested in helping to lead worship for OME worship times during Student Leadership Training?',
       'I am a...', 'Where have you worked on campus?',
       'Have you ever been employed by Wheaton before?',
       'How can we be praying for you?', 'First Name.1', 'Last Name.1',
       'What are you up to this summer?', 'I am a....1', 'Address',
       'House Name and/or Address', 'Apartment Building Number', 'Room Number',
       'Phone Number', 'Birthday', 'Where will you be living Fall 2020?',
       'Have you taken the StrengthsFinder assessment while a student at Wheaton?',
       'Please Upload your Headshot', 'Wheaton ID Number',
       'Wheaton Network User Name'],
      dtype='object')

In [8]:
df_21_Org.head()

,First Name,Last Name,Submission Date,I plan to arrive on August 11th for Student Leader Training Week,Wheaton Student Email,CPO Number,Graduation Year,Street Address,Street Address Line 2,City,...,House Name and/or Address,Apartment Building Number,Room Number,Phone Number,Birthday,Where will you be living Fall 2020?,Have you taken the StrengthsFinder assessment while a student at Wheaton?,Please Upload your Headshot,Wheaton ID Number,Wheaton Network User Name
0,Benjamin,Praamsma,"Sep 4, 2021",I am not able to arrive to campus then,ben.praamsma@my.wheaton.edu,2387,2022,163 Webster Rd,CPO 2387,Vergennes,...,NaN,218.0,NaN,(802) 3494357,"Jul 21, 2000",Saint & Elliot,Yes,https://www.jotform.com/uploads/WheatonCollege...,93174,benpraamsma
1,Jessica,Stenvig,"Aug 30, 2021",Yes,Jessica.stenvig@gmail.com,2504,2022,843 College Ave,NaN,Wheaton,...,NaN,NaN,NaN,(651) 5006330,"Feb 14, 2000",Off Campus,Yes,NaN,96759,jessicastenvig
2,Caleb,Aguayo,"Aug 12, 2021",Yes,caleb.aguayo@my.wheaton.edu,15,2022,501 College Avenue,CPO 15,Wheaton,...,Hunter,NaN,NaN,(630) 4154146,"Apr 4, 2000",Campus House,Yes,NaN,94305,calebaguayo
3,Warner,Mehl,"Jul 7, 2021",Yes,warner.mehl@my.wheaton.edu,1673,2023,2370 NW 161st Ave.,NaN,Beaverton,...,NaN,NaN,365.0,(971) 7772489,"Jan 9, 2001",Fischer,Yes,NaN,95903,warnermehl
4,Edward,Carrington,"Jul 2, 2021",Yes,EDWARD.CARRINGTON@MY.WHEATON.EDU,343,2022,1264 Farm Road,1264 FARM RD,BERWYN,...,White House,NaN,NaN,(610) 3149822,"Mar 3, 2000",Campus House,Yes,https://www.jotform.com/uploads/WheatonCollege...,93603,edwardcarrington

In [9]:
org_columns = ['First Name', 'Last Name', 'I am a....1']
df_21_Org = df_21_Org[org_columns]
df_21_Org.isna().sum()

First Name     0
Last Name      0
I am a....1    0
dtype: int64

In [10]:
df_21_Org

  First Name   Last Name                                        I am a....1
0   Benjamin    Praamsma  Ministry Trip Cabinet Member or Student Evange...
1    Jessica     Stenvig  Ministry Trip Cabinet Member or Student Evange...
2      Caleb      Aguayo  Ministry Trip Cabinet Member or Student Evange...
3     Warner        Mehl  Ministry Trip Cabinet Director or Student Evan...
4     Edward  Carrington  Ministry Trip Cabinet Member or Student Evange...
5       Abby     Walhout  Ministry Trip Cabinet Director or Student Evan...
6     Tamara      Watson  Ministry Trip Cabinet Member or Student Evange...
7     Bella      Hicklin  Ministry Trip Cabinet Member or Student Evange...
8       Eva         Barg  Ministry Trip Cabinet Member or Student Evange...
9      Jiahn         Kim  Ministry Trip Cabinet Member or Student Evange...

In [11]:
org_cabs_dict = {'Ministry Trip Cabinet Member or Student Evangelism Cabinet Member':'Member',
                 'Ministry Trip Cabinet Director or Student Evangelism Director': 'Director'}

df_21_Org['I am a....1'] = df_21_Org['I am a....1'].map(org_cabs_dict)
df_21_Org

  First Name   Last Name I am a....1
0   Benjamin    Praamsma      Member
1    Jessica     Stenvig      Member
2      Caleb      Aguayo      Member
3     Warner        Mehl    Director
4     Edward  Carrington      Member
5       Abby     Walhout    Director
6     Tamara      Watson      Member
7     Bella      Hicklin      Member
8       Eva         Barg      Member
9      Jiahn         Kim      Member

In [12]:
df_21_Org['Ministry Team'] = 'Ministry Trip Cabinet or Student Evangelism Cabinet'
df_21_Org.rename(columns={'I am a....1':'Role',
                          'First Name':'First',
                          'Last Name':'Last'}, inplace=True)
df_21_Org

,First,Last,Role,Ministry Team
0,Benjamin,Praamsma,Member,Ministry Trip Cabinet or Student Evangelism Ca...
1,Jessica,Stenvig,Member,Ministry Trip Cabinet or Student Evangelism Ca...
2,Caleb,Aguayo,Member,Ministry Trip Cabinet or Student Evangelism Ca...
3,Warner,Mehl,Director,Ministry Trip Cabinet or Student Evangelism Ca...
4,Edward,Carrington,Member,Ministry Trip Cabinet or Student Evangelism Ca...
5,Abby,Walhout,Director,Ministry Trip Cabinet or Student Evangelism Ca...
6,Tamara,Watson,Member,Ministry Trip Cabinet or Student Evangelism Ca...
7,Bella,Hicklin,Member,Ministry Trip Cabinet or Student Evangelism Ca...
8,Eva,Barg,Member,Ministry Trip Cabinet or Student Evangelism Ca...
9,Jiahn,Kim,Member,Ministry Trip Cabinet or Student Evangelism Ca...

In [13]:
columns_correct_order = ['First', 'Last', 'Ministry Team', 'Role', 'Other Leadership Roles']

In [16]:
df_21_Org['Other Leadership Roles'] = 'None'

In [17]:
df_21_MT = df_21_MT[columns_correct_order]
df_21_Org = df_21_Org[columns_correct_order]

In [18]:
df_21 = pd.concat([df_21_Org,df_21_MT],ignore_index=True)

In [19]:
df_21

,First,Last,Ministry Team,Role,Other Leadership Roles
0,Benjamin,Praamsma,Ministry Trip Cabinet or Student Evangelism Ca...,Member,None
1,Jessica,Stenvig,Ministry Trip Cabinet or Student Evangelism Ca...,Member,None
2,Caleb,Aguayo,Ministry Trip Cabinet or Student Evangelism Ca...,Member,None
3,Warner,Mehl,Ministry Trip Cabinet or Student Evangelism Ca...,Director,None
4,Edward,Carrington,Ministry Trip Cabinet or Student Evangelism Ca...,Member,None
...,...,...,...,...,...
80,Sophia,Parolini,Abide,Cabinet Member,I will be an O group leader as well.
81,Meredith,Frey,Abide,Cabinet Member,None
82,Jenna,Paulsen,Tutoring Ministry,Cabinet Member,None
83,Matthew,Meloch,YoungLife,Student Staff,None
84,Jonathan,Kim,Pre-Health Ministry Team,Bolingbrook Site Coordinator,None

In [20]:
df_21.isna().sum()

First                     0
Last                      0
Ministry Team             0
Role                      0
Other Leadership Roles    0
dtype: int64

### Cleaning 2023

In [21]:
df_23.head()

,What ministry are you a part of?,First Name,Middle Name,Last Name,Student ID Number,Submission Date,Sex,Race/Ethnicity,Wheaton Student Email,Phone Number,...,Please list any food allergies or dietary restrictions,Favorite Snack/Treat,Would you be interested in helping to lead worship for Ministry & Evangelism worship times during Student Leadership Training or throughout the year?,"What instrument(s) do you play? (voice, guitar, drums, etc.)",What are you up to this summer?,How can we be praying for you?,Do you agree to embody and pursue the qualities listed above?,We welcome you to explain why you disagree.,I agree to the aforementioned as they relate to Student Engagement expectations and requirements and to the Wheaton College Community Covenant.,We welcome you to explain why you disagree..1
0,Abide,Kaile,Ann,Pollard,99578.0,"Jun 29, 2023",Female,White or European American,kaile.pollard@my.wheaton.edu,(262) 348-8098,...,NaN,Chocolate chip cookies,No,NaN,I am interning with the nonprofit Safe Familie...,Pray for peace and wisdom as I enter this new ...,NaN,NaN,NaN,NaN
1,Abide,Claire,Jadyn,McAlister,99595.0,"Jul 1, 2023",Female,White or European American,Claire.mcalister@my.Wheaton.edu,(303) 9449440,...,NaN,Watermelon Sour Patch Kids!,No,NaN,I work at a summer camp called Mount Carmel!,At this camp I am one of the summer staff coor...,NaN,NaN,NaN,NaN
2,Abide,Anna,Gloria,Ziel,103009.0,"Jul 4, 2023",Female,White or European American,anna.ziel@my.Wheaton.edu,(719) 2441510,...,NaN,Anything chocolate,No,NaN,Just work! I'm internting for the organisation...,That the rest of my summer won't feel wasted,NaN,NaN,NaN,NaN
3,Abide,Caleigh,NaN,Albani,102180.0,"Jul 4, 2023",Female,White or European American,Caleigh.Albani@my.wheaton.edu,(816) 6052526,...,NaN,Kitcat or Reese’s,No,NaN,"Taking an online class, working at crumbl cook...",For my summer to be both productive and restful.,NaN,NaN,NaN,NaN
4,Abide,Claire,Elizabeth,Davey,99884.0,"Jul 5, 2023",Female,White or European American,claire.davey@my.wheaton.edu,(971) 2721739,...,NaN,Goldfish!!,No,NaN,"I am serving with Love Thy Neighborhood, a non...",Prayers for confidence and security in the Lor...,NaN,NaN,NaN,NaN

In [22]:
df_23.columns

Index(['What ministry are you a part of?', 'First Name', 'Middle Name',
       'Last Name', 'Student ID Number', 'Submission Date', 'Sex',
       'Race/Ethnicity', 'Wheaton Student Email', 'Phone Number', 'CPO Number',
       'Where are you living Fall 2023?', 'Room Number',
       'Apartment Building Number', 'Apartment Number',
       'House Name and/or Address', 'Street Address', 'Street Address Line 2',
       'City', 'State / Province', 'Postal / Zip Code', 'Graduation Year',
       'Birthdate', 'T-shirt Size', 'I am a...',
       'What date do you plan to arrive back to campus for Student Leadership Training in August?',
       'What is your position title within your ministry?',
       'Are you a part of an additional ministry within Ministry & Evangelism?',
       'What ministry are you a part of?.1',
       'What is your position title within the ministry listed above?',
       'Please share why you are unable to return on August 10th. ',
       'When will you arrive for SLT?',
       'ZF and HP - What date do you plan to arrive back to campus for Student Leadership Training in August?',
       'ZF and HP - Please share why you are unable to return on August 17th. ',
       'ZF and HP - When will you arrive to campus?',
       'Are you planning to arrive early to campus for another student leadership role outside of Ministry & Evangelism?',
       'What other student leadership role(s) do you have this year?',
       'Have you taken the StrengthsFinder assessment while a student at Wheaton?',
       'Multiple Text Fields', 'What is your Wheaton Username?',
       'Are you certified to drive Wheaton vehicles?',
       'Please Upload your Headshot',
       'Please list any food allergies or dietary restrictions',
       'Favorite Snack/Treat',
       'Would you be interested in helping to lead worship for Ministry & Evangelism worship times during Student Leadership Training or throughout the year?',
       'What instrument(s) do you play? (voice, guitar, drums, etc.)',
       'What are you up to this summer?', 'How can we be praying for you?',
       'Do you agree to embody and pursue the qualities listed above?',
       'We welcome you to explain why you disagree.',
       'I agree to the aforementioned as they relate to Student Engagement expectations and requirements and to the Wheaton College Community Covenant.',
       'We welcome you to explain why you disagree..1'],
      dtype='object')

In [23]:
df_23_columns = ['First Name', 'Last Name', 'What ministry are you a part of?', 'What is your position title within your ministry?', 'What other student leadership role(s) do you have this year?']

In [24]:
df_23 = df_23[df_23_columns]

In [25]:
df_23.rename(columns={
    'First Name':'First',
    'Last Name':'Last',
    'What ministry are you a part of?':'Ministry Team',
    'What is your position title within your ministry?':'Role',
    'What other student leadership role(s) do you have this year?':'Other Leadership Roles'
}, inplace=True)

In [26]:
df_23.isna().sum()

First                      0
Last                       0
Ministry Team              0
Role                       7
Other Leadership Roles    84
dtype: int64

In [27]:
df_23['Role'].fillna('Cabinet Member', inplace=True)
df_23['Other Leadership Roles'].fillna('None', inplace=True)
df_23.isna().sum()

/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/1214874321.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_23['Role'].fillna('Cabinet Member', inplace=True)
/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/1214874321.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_23['Other Leadership Roles'].fillna('None', inplace=True)

First                     0
Last                      0
Ministry Team             0
Role                      0
Other Leadership Roles    0
dtype: int64

### Cleaning df 24

In [28]:
df_24

,Submission Date,First Name,Last Name,Sex,Race/Ethnicity,Wheaton Student Email,Phone Number,CPO Number,Where are you living Fall 2024?,Room Number,...,What is your Wheaton Username?,Are you certified to drive Wheaton vehicles?,Please Upload your Headshot,Please list any food allergies or dietary restrictions,Favorite Snack/Treat,Would you be interested in helping to lead worship for Ministry & Evangelism worship times during Student Leadership Training or throughout the year?,"What instrument(s) do you play? (voice, guitar, drums, etc.)",What are you up to this summer?,How can we be praying for you?,Submission ID
0,2024-08-07 12:02:26,Maddy,Buonincontro,Female,White or European American,maddy.buonincontro@my.wheaton.edu,(608) 4367399,465,Smith,NaN,...,maddybuonincontro,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,Cheez its,NaN,NaN,Working at a summer camp in Minnesota !,NaN,5988593463179337573
1,2024-08-05 19:24:51,Sophia,Michel,Female,White or European American,sophia.michel@my.wheaton.edu,(773) 8120405,NaN,Smith,NaN,...,sophiamichel,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,NaN,NaN,NaN,NaN,NaN,5987130916653831836
2,2024-08-05 14:22:08,Frances (Frankie),Kendziera,Female,White or European American,frankie.kendziera@my.wheaton.edu,(616) 4064461,1593,Fischer,W316,...,frankiekendziera,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,Almond Joy,Yes,"Voice, piano",I have loved spending time and having conversa...,I would appreciate prayer for the upcoming sch...,5986949285915551025
3,2024-07-28 15:54:35,Lucy,Anderson,Female,White or European American,lucy.anderson@my.wheaton.edu,(630) 9627968,108,Smith,NaN,...,lucyanderson,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,peanut m&ms,No,NaN,"I have been nannying a ton, as well as spendin...",I would love prayer for ongoing contentment in...,5980092759261051149
4,2024-07-17 09:08:53,Anna,Ziel,Female,White or European American,annaglow17@gmail.com,(719) 2441510,3286,Terrace,NaN,...,annaziel,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,Anything chocolate,No,NaN,Wheaton in England!,Finishing the summer well,5970345332557429948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2024-11-12 15:17:59,Maura,Wilkerson,Female,White or European American,maura.wilkerson@my.wheaton.edu,(405) 3153385,3053,Williston,311,...,maurawilkerson,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,dark chocolate covered pretzels,No,NaN,NaN,"It's been a very busy semester, so i wold love...",6072554792172841047
102,2024-11-12 15:35:56,Trevor,Aston,Male,White or European American,trevor.aston@my.wheaton.edu,(419) 4192616798,54,Campus House,NaN,...,trevoraston,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,Oreos,No,NaN,NaN,To work hard in school throughout the rest of ...,6072565566177076997
103,2024-11-12 18:42:42,Simon,Kutnow,Male,White or European American,simon.kutnow@my.wheaton.edu,(614) 9802829,1651,Terrace,NaN,...,simonkutnow,Yes,https://www.jotform.com/uploads/WheatonCollege...,lactose intolerant,flavored pretzel bites,No,NaN,NaN,Time management and presence in the moment,6072677628171512620
104,2024-11-13 12:09:09,Andrew,Moreno,Male,White or European American,drew.moreno@my.wheaton.edu,(720) 9571477,NaN,McManis Evans,NaN,...,drewmoreno,No,https://www.jotform.com/uploads/WheatonCollege...,NaN,Cheez-its,No,NaN,NaN,NaN,6073305490179541830
105,2024-11-13 12:25:47,Amelia,Lambert,Female,White or European American,amelia.lambert@my.wheaton.edu,(+1) 5095981450,1913,Smith,121,...,amelialambert,No,https://www.jotform.com/uploads/WheatonCollege...,None.,chewy chocolate chip cookies! I love peanut bu...,No,NaN,NaN,Pray for my health. I have been struggling a l...,6073315478797319629

In [30]:
df_24_columns = ['First Name', 'Last Name', 'What ministry are you a part of?', 'What is your position title within your ministry?', 'What other student leadership role(s) do you have this year?']

In [31]:
df_24 = df_24[df_24_columns]

In [32]:
df_24

,First Name,Last Name,What ministry are you a part of?,What is your position title within your ministry?,What other student leadership role(s) do you have this year?
0,Maddy,Buonincontro,Abide,Hospitality coordinator,NaN
1,Sophia,Michel,Abide,NaN,NaN
2,Frances (Frankie),Kendziera,Abide,Worship Coordinator,College Union Student Art Coordinator and Writ...
3,Lucy,Anderson,Abide,Hospitality Director,NaN
4,Anna,Ziel,Abide,Co-Director,Writing Center
...,...,...,...,...,...
101,Maura,Wilkerson,Engage Chicago,Event Coordinator,NaN
102,Trevor,Aston,Samaritan's Purse,Publicity and Events Coordinator,NaN
103,Simon,Kutnow,Engage Chicago,By The Hand/Partner Coordinator,NaN
104,Andrew,Moreno,A Rocha,Director,NaN
105,Amelia,Lambert,Skivangelism,Trip coordinator:),NaN

In [33]:
df_24.rename(columns={
    'First Name':'First',
    'Last Name':'Last',
    'What ministry are you a part of?':'Ministry Team',
    'What is your position title within your ministry?':'Role',
    'What other student leadership role(s) do you have this year?':'Other Leadership Positions'
}, inplace=True)

/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/1301040120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24.rename(columns={

In [34]:
df_24

,First,Last,Ministry Team,Role,Other Leadership Positions
0,Maddy,Buonincontro,Abide,Hospitality coordinator,NaN
1,Sophia,Michel,Abide,NaN,NaN
2,Frances (Frankie),Kendziera,Abide,Worship Coordinator,College Union Student Art Coordinator and Writ...
3,Lucy,Anderson,Abide,Hospitality Director,NaN
4,Anna,Ziel,Abide,Co-Director,Writing Center
...,...,...,...,...,...
101,Maura,Wilkerson,Engage Chicago,Event Coordinator,NaN
102,Trevor,Aston,Samaritan's Purse,Publicity and Events Coordinator,NaN
103,Simon,Kutnow,Engage Chicago,By The Hand/Partner Coordinator,NaN
104,Andrew,Moreno,A Rocha,Director,NaN
105,Amelia,Lambert,Skivangelism,Trip coordinator:),NaN

In [35]:
df_24.isna().sum()

First                          0
Last                           0
Ministry Team                  0
Role                           5
Other Leadership Positions    91
dtype: int64

In [37]:
df_24['Role'].fillna('Cabinet Member', inplace=True)
df_24['Other Leadership Positions'].fillna('None',inplace=True)
df_24.isna().sum()

/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/876514820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24['Role'].fillna('Cabinet Member', inplace=True)
/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_2064/876514820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_24['Other Leadership Positions'].fillna('None',inplace=True)

First                         0
Last                          0
Ministry Team                 0
Role                          0
Other Leadership Positions    0
dtype: int64

### Looking for retention